In [6]:
import numpy as np
import pandas as pd

In [7]:
movies=pd.read_csv('Dataset_Tmdb.csv')
movies = movies.copy()

In [8]:
movies.head(5)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,06-09-2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,04-01-2015,2947,7.3,2015,174799923.1,1.385749e+09

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [10]:
movies.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [11]:
movies=movies[['id','original_title','overview','genres']]
movies

,id,original_title,overview,genres
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|Thriller
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|Fantasy
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|Thriller
...,...,...,...,...
10861,21,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",Documentary
10862,20379,Grand Prix,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|Drama
10863,39768,Beregis Avtomobilya,An insurance agent who moonlights as a carthie...,Mystery|Comedy
10864,21449,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the...",Action|Comedy
10865,22293,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...,Horror

In [12]:
movies['tags']=movies['overview']+movies['genres']
movies

,id,original_title,overview,genres,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...,Action|Adventure|Science Fiction|Thriller,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,Action|Adventure|Science Fiction|Thriller,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...,Adventure|Science Fiction|Thriller,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,Action|Adventure|Science Fiction|Fantasy,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,Action|Crime|Thriller,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...,...,...
10861,21,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",Documentary,"The Endless Summer, by Bruce Brown, is one of ..."
10862,20379,Grand Prix,Grand Prix driver Pete Aron is fired by his te...,Action|Adventure|Drama,Grand Prix driver Pete Aron is fired by his te...
10863,39768,Beregis Avtomobilya,An insurance agent who moonlights as a carthie...,Mystery|Comedy,An insurance agent who moonlights as a carthie...
10864,21449,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the...",Action|Comedy,"In comic Woody Allen's film debut, he took the..."
10865,22293,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...,Horror,A family gets lost on the road and stumbles up...

In [13]:
movies=movies.drop(columns=['overview','genres'])
movies

,id,original_title,tags
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
10861,21,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ..."
10862,20379,Grand Prix,Grand Prix driver Pete Aron is fired by his te...
10863,39768,Beregis Avtomobilya,An insurance agent who moonlights as a carthie...
10864,21449,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the..."
10865,22293,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...

In [14]:
column_renamed={'id':'Id','original_title':'Title','tags':'Tag'}
movies.rename(columns=column_renamed,inplace=True)
movies.to_csv('Dataset_Tmdb.csv', index=False, mode='w')
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
10861,21,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ..."
10862,20379,Grand Prix,Grand Prix driver Pete Aron is fired by his te...
10863,39768,Beregis Avtomobilya,An insurance agent who moonlights as a carthie...
10864,21449,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the..."
10865,22293,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...

In [18]:
movies = movies.drop(movies.index[-865:])

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
9131,16365,Futuresport,"In the not too distant future, a new deadly sp..."
9132,15162,Alice Through the Looking Glass,A modern adaptation of the classic children's ...
9133,10593,Il fantasma dell'opera,Gory remake of the Gaston Leroux classic story...
9134,4927,Edge of Seventeen,The tale of a high school student in the small...
9135,37498,Knock Off,"Marcus Ray (Jean-Claude Van Damme), a sales re..."

In [19]:
movies = movies.drop(movies.index[-135:])
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
8996,3600,I Still Know What You Did Last Summer,Unfinished business with coed Julie James brin...
8997,929,Godzilla,When a freighter is viciously attacked in the ...
8998,6435,Practical Magic,"Sally and Gillian Owens, born into a magical f..."
8999,10153,Sphere,The OSSA discovers a spacecraft thought to be ...
9000,6068,Six Days Seven Nights,"When Quinn, a grouchy pilot living the good li..."

In [20]:
movies = movies.drop(movies.index[-1:])
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
8995,944,Lethal Weapon 4,In the combustible action franchise's final in...
8996,3600,I Still Know What You Did Last Summer,Unfinished business with coed Julie James brin...
8997,929,Godzilla,When a freighter is viciously attacked in the ...
8998,6435,Practical Magic,"Sally and Gillian Owens, born into a magical f..."
8999,10153,Sphere,The OSSA discovers a spacecraft thought to be ...

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv=CountVectorizer(max_features=9000,stop_words='english')

In [25]:
vector=cv.fit_transform(movies['Tag'].values.astype('U')).toarray()

In [26]:
vector.shape

(9000, 9000)

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity=cosine_similarity(vector)

In [49]:
similarity

array([[1.        , 0.2057378 , 0.19802951, ..., 0.13801311, 0.        ,
        0.10660036],
       [0.2057378 , 1.        , 0.12222647, ..., 0.12777531, 0.        ,
        0.06579517],
       [0.19802951, 0.12222647, 1.        , ..., 0.12298801, 0.03883678,
        0.08444007],
       ...,
       [0.13801311, 0.12777531, 0.12298801, ..., 1.        , 0.        ,
        0.17654697],
       [0.        , 0.        , 0.03883678, ..., 0.        , 1.        ,
        0.        ],
       [0.10660036, 0.06579517, 0.08444007, ..., 0.17654697, 0.        ,
        1.        ]])

In [64]:
def recommend(movie_title):
    index= movies[movies['Title']==movie_title].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:11]:
        print(movies.iloc[i[0]].Title)

In [65]:
recommendations = recommend("Furious 7")
print(recommendations)

Furious 7
Savage Streets
Fast & Furious 6
Patriot Games
Tokarev
Transit
Urban Justice
The Fast and the Furious
Dead Man's Shoes
Blood
The River Wild
None

In [2]:
import pickle

In [3]:
pickle.dump(movies,open('movies_list.pkl','wb'))

NameError: name 'movies' is not defined

In [68]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [1]:
pickle.load(open('movies_list.pkl','rb'))

NameError: name 'pickle' is not defined